/* Core styles */
body {
  margin: 0;
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #eaeaea;
  text-align: center;
  line-height: 1.1em;
}

#imgsize {
  width: 98%;
  height: auto;
}

/* Header */
#showcase {
  min-height: 350px;
}
#showcase .bg-image {
  position: absolute;
  background: #333 url(imgs/mechanic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  z-index: -1;
  opacity: 0.4;
}
#showcase h1 {
  padding-top: 100px;
  text-align: start;
  margin: 0.2em;
}
#showcase p {
  text-align: start;
  margin: 0.4em;
  padding: 0.4em;
}
/* Nav Menu */
.navmenu {
  padding-top: 100px;
}
.navmenu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 1em;
  margin: 1em;
}
.navmenu a {
  background: #333;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.4em;
  border: #666 solid;
}
.navmenu a:hover {
  color: #333;
  background: #fff;
}
/* Body */
/* Services Section #A*/
.section-a img {
  margin-top: 1em;
}
.section-a h3 {
  position: absolute;
  font-size: 1.7em;
  margin-top: 34%;
  padding-left: 25%;
  color: #fff;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
}
.section-a img:hover {
  opacity: 0.2;
}
/* Downloads Section #B */
.downloads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.androiddownload a {
  width: 100%;
  border: solid #666 0.1px;
  background: #333;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.androiddownload img {
  height: 20px;
}
.androiddownload a:hover {
  color: #333;
  background: #fff;
}

.iosdownload a {
  width: 100%;
  border: solid #666 0.1px;
  background: #333;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.iosdownload img {
  height: 20px;
}
.iosdownload a:hover {
  color: #333;
  background: #fff;
}
/* Footer */
footer {
  padding-top: 50px;
}

/* Media query */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 4px;
  }
  .section-a {
    grid-column: 1 / 11;
    margin: 1em;
  }
  .section-a h3 {
    padding: auto;
  }
  .section-b {
    border: #666 solid;
    display: inline-block;
    grid-column: 11 / -1;
  }

  .downloads {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px;
  }
}
