/* Core styles */
body {
  margin: 0;
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #eaeaea;
  text-align: center;
  line-height: 1.1em;
}

#imgsize {
  width: 98%;
  height: auto;
}

/* Header */
#showcase {
  min-height: 350px;
}
#showcase .bg-image {
  position: absolute;
  background: #333 url(imgs/mechanic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  z-index: -1;
  opacity: 0.4;
}
#showcase h1 {
  padding-top: 100px;
  text-align: start;
  margin: 0.2em;
}
#showcase p {
  text-align: start;
  margin: 0.4em;
  padding: 0.4em;
}
/* Nav Menu */
.navmenu {
  padding-top: 100px;
}
.navmenu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 1em;
  margin: 1em;
}
.navmenu a {
  background: #333;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.4em;
  border: #666 solid;
}
.navmenu a:hover {
  color: #333;
  background: #fff;
}
/* Body */
/* Services Section #A*/
.container {
  position: relative;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  margin-bottom: 10px;
}

.container img {
  height: auto;
  width: 70%;
}

.centeredtext {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-a img:hover {
  opacity: 0.2;
}
/* Downloads Section #B */
.downloads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.androiddownload a {
  border: solid #666;
  background: #333;
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.androiddownload img {
  height: 20px;
}
.androiddownload a:hover {
  color: #333;
  background: #fff;
}

.iosdownload a {
  border: solid #666;
  background: #333;
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.iosdownload img {
  height: 20px;
}
.iosdownload a:hover {
  color: #333;
  background: #fff;
}
/* Footer */
footer {
  padding-top: 50px;
}

/* Media query */
@media (min-width: 700px) {
  .navmenu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 1em;
    margin: 1em;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 4px;
  }
  .section-a {
    grid-column: 1 /11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .centeredtext h3 {
    font-size: 1.4em;
  }
  #imgsize {
    height: 350px;
  }
  .section-b {
    border: #666 solid;
    height: 350px;
    display: block;
    width: 80%;
    grid-column: 11 / -1;
  }
  .downloads {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .androiddownload > a,
  .iosdownload > a {
    border-left-style: hidden;
    border-right-style: hidden;
  }
}
